name: CI/CD Pipeline

# Déclencheurs (Triggers)
on:
  push:
    branches: [ "main", "dev" ]
  pull_request:
    branches: [ "main", "dev" ]

jobs:
  # JOB 1 : TEST (S'exécute sur toutes les branches)
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install flake8 pytest selenium webdriver-manager

      - name: Lint with Flake8
        run: |
          # stop the build if there are Python syntax errors or undefined names
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          # exit-zero treats all errors as warnings.
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

      - name: Run Tests (Unit, Integration, E2E)
        env:
          # On utilise des variables dummy pour que l'app démarre
          SECRET_KEY: "test-secret"
          DATABASE_URL: "sqlite:///:memory:"
        run: |
          # 1. Lancer l'app Flask en arrière-plan pour les tests E2E
          python app.py &
          # 2. Attendre quelques secondes que le serveur démarre
          sleep 5
          # 3. Lancer les tests (xvfb-run simule un écran pour Selenium/Firefox)
          xvfb-run pytest

  # JOB 2 : BUILD & PUSH DOCKER
  # Ne se lance que si les tests ont réussi ("needs: test")
  build-and-push:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        # On ne se connecte que si c'est la branche MAIN
        if: github.ref == 'refs/heads/main'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .
          # Pousser l'image seulement si on est sur MAIN
          push: ${{ github.ref == 'refs/heads/main' }}
          # Nom de l'image (Remplace par ton USERNAME DockerHub ici ou via secrets)
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/taskmanager-prod:latest
